@import "tailwindcss";
/* Custom Scrollbar Design */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* scrollbar track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D97706; /* orange scrollbar thumb */
  border-radius: 10px; /* rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #b86104; /* darker orange when hovered */
}
